@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #000;
        --color-text-muted: #ADACB5;
        --color-main-accent: #F7971E;
    }
}

html,
body {
    height: 100%;
}
